<h1>dashboard</h1>
<h2 class="subtitle">Let us know what you need, <%= @name %></h2>
<h2><%= @graphic_name %></h2>

<div class="button-container">
	<%= link_to sleep_watch_url, :class => "button" do %>
	  sleep watch is
	  <% if @sleep_watch == 1 || @sleep_watch == 2 %>
		  on
		  <div class="light green">
			</div>
		<% else %>
		  off
		  <div class="light red">
			</div>	
		<% end %>
	<% end %>
</div>

<div class="button-container">
	<a href="https://graph.api.smartthings.com/oauth/authorize?response_type=code&client_id=0d530364-bccf-486a-aa49-ee7eacdff89f&scope=app&redirect_uri=http%3A%2F%2Fwake-treehacks.herokuapp.com%2Fsmartthings_auth" class="button">connect smart home</a>
</div>

<div class="bottom-left-security">
	<%= image_tag "security_5.png" %>
</div>

<script>
$(window).bind("load", function() {
   $("#empty").hide();
});
</script>