<h1>dashboard</h1>
<h2 class="subtitle">Let us know what you need, <%= @name %></h2>

<div class="button-container">
	<%= link_to sleep_watch_url, :class => "button" do %>
	  
	  <% if @sleep_watch == 1 || @sleep_watch == 2 %>
		  <div class="light green right">
			</div>
			sleep watch is on
		<% else %> 
		  <div class="light red right">
			</div>
			 sleep watch is off	
		<% end %>
	<% end %>
</div>

<div class="connections">
	<h3>Integrations</h3>
	<div class="button-container">
		<a href="" class="button">
			fitbit
			<div class="light red">
			</div>
		</a>
	</div>
	<div class="button-container">
		<a href="" class="button">
			directv
			<div class="light red">
			</div>
		</a>
	</div>
	<div class="button-container">
		<a href="" class="button">
			google calendar
			<div class="light red">
			</div>
		</a>
	</div>
	<div class="button-container">
		<a href="https://graph.api.smartthings.com/oauth/authorize?response_type=code&client_id=627d1e37-7ac3-4368-8a28-4028570bc3a9&scope=app&redirect_uri=http%3A%2F%2Fwake-treehacks.herokuapp.com%2Fsmartthings_auth" class="button">
			smart home
			<% if !@smartthings_check_1.nil? and !@smartthings_check_2.nil? %>
				<div class="light green">
				</div>
			<% else %>
				<div class="light red">
				</div>
			<% end %>
		</a>
	</div>
	
</div>

<div class="bottom-security left">
	<%= image_tag "security_5.png" %>
</div>

<script>
$(window).bind("load", function() {
   $("#empty").hide();
});
</script>